@import '~bootstrap/scss/bootstrap';

main {
    min-height: 90vh;
}

footer {
    a {
        text-decoration: none;
        color: gray;
    }
}

.card-img-overlay {
    background-color: rgb(0 0 0 / 43%);
}